%% vim: ft=erlang

{sub_dirs, ["apps/rolf", "rel"]}.

%% dependencies
{deps, [{errd, ".*", {git, "git://github.com/Vagabond/errd.git", "master"}},
        {log4erl, ".*", {git, "git://github.com/ahmednawras/log4erl.git", "master"}},
        {plists, ".*", {git, "git://github.com/yrashk/plists.git", "master"}}]}.

%% testing options
{cover_enabled, true}.
{erl_opts, [debug_info]}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
