% vim: ft=erlang
% use this external program to collect data
{external, "loadtime.sh"}.

% update frequency in seconds
{frequency, 10}.

% number of seconds allowed before service becomes "unknown"
{timeout, 60}.

% define the RRAs (round robin archives) to be stored for this service
{archives, [{1, 360},      % 1hr of 10s averages
            {30, 288},     % 1d of 5m averages
            {180, 336},    % 7d of 30m averages
            {8640, 365}]}. % 1y of 1d averages

% graph parameters
{graph_title, "Load Time"}.
{graph_vlabel, "Secs"}.

% metric configuration
{metrics, [{loadtime, [{label, "Load Time"},
                       {type, gauge},
                       {draw, areastack},
                       {min, 0},
                       {colour, "#0091FF"}]}]}.
