%% vim: ft=erlang
%% use this external program to collect data
{command, "disk.sh"}.

%% update frequency in seconds
{frequency, 300}.

%% number of seconds allowed before service becomes "unknown"
{timeout, 3600}.

%% define the RRAs (round robin archives) to be stored for this service
{archives, [{1, 288},     % 1d of 5m averages
            {12, 336},    % 7d of 1hr averages
            {288, 365}]}. % 1y of 1d averages

%% graph parameters
{graph_title, "Disk Space"}.
{graph_vlabel, "GB"}.

%% metric configuration
{metrics, [{freespace, [{label, "Free Space"},
                        {type, gauge},
                        {draw, areastack},
                        {min, 0},
                        {colour, "#66BDFF"}]}]}.
