%% vim: ft=erlang
%% use this external program to collect data
{module, rolf_loadtime}.

%% update frequency in seconds
{frequency, 5}.

%% number of seconds allowed before service becomes "unknown"
{timeout, 60}.

%% define the RRAs (round robin archives) to be stored for this service
{archives, [{1, 720},       % 1hr of 5s averages
            {6, 2880},      % 1d of 30s averages
            {360, 336},     % 7d of 30m averages
            {17280, 365}]}. % 1y of 1d averages

%% graph parameters
{graph_title, "Load Time"}.
{graph_vlabel, "Secs"}.

%% metric configuration - tricky for this plugin as each url is a metric
{metrics, [{localhost, [{label, "Localhost"},
                        {type, gauge},
                        {draw, areastack},
                        {min, 0},
                        {colour, "#0091FF"}]}]}.

%% additional options
{urls, [{localhost, "http://localhost/"}]}.
