%% vim: ft=erlang
{sys, [{lib_dirs, ["../apps", "../deps"]},
       {rel, "rolf", "1", [kernel, stdlib, log4erl, rolf]},
       {rel, "start_clean", "", [kernel, stdlib]},
       {boot_rel, "rolf"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*", "^erts.*/bin/(dialyzer|typer)"]},
       {app, log4erl, [{incl_cond, include}]},
       {app, rolf, [{incl_cond, include}]}]}.

{target_dir, "rolf"}.

{overlay, [{mkdir, "data"},
           {mkdir, "log"},
           {copy, "files/erl", "{{erts_vsn}}/bin/erl"},
           {copy, "files/nodetool", "{{erts_vsn}}/bin/nodetool"},
           {copy, "files/rolf", "bin/rolf"},
           {copy, "files/app.config", "etc/app.config"},
           {copy, "files/vm.args", "etc/vm.args"},
           {copy, "files/recorder.config", "etc/recorder.config"},
           {copy, "files/log4erl.conf", "etc/log4erl.conf"},
           {copy, "files/plugins", "plugins"}]}.
