%% vim: ft=erlang
%% use this Erlang module to collect data
{module, rolf_munin_node}.

%% update frequency in seconds
{frequency, 300}.

%% number of seconds allowed before service becomes "unknown"
{timeout, 600}.

%% define the RRAs (round robin archives) to be stored for this service
%% matches Munin (http://munin-monitoring.org/browser/trunk/master/lib/Munin/Master/UpdateWorker.pm)
{archives, [{1, 576},     % 2d of 5m averages
            {6, 432},     % 9d of 30m averages
            {24, 540},    % 45d of 2h averages
            {288, 450}]}. % 450d of 1d averages

%% graph parameters
{graph_title, "Uptime"}.
{graph_vlabel, "Days"}.

%% metric configuration - tricky for this plugin as each url is a metric
{metrics, [{uptime, [{label, "Uptime"},
                     {type, gauge},
                     {min, 0},
                     {draw, areastack},
                     {colour, "#0091FF"}]}]}.

%% host to collect from
{host, localhost}.

%% Munin plugin to fetch
{plugin, uptime}.
