%% vim: ft=erlang
%% configure which node will do the recording
{recorders, [rolf@josie]}.

%% define which services run on which nodes, customise those services by
%% overriding config.
{service, all, disk, []}.
{service, loadtime,
          rolf@josie,
          [{urls, [{bbc, "http://www.bbc.co.uk/"},
                   {guardian, "http://www.guardian.co.uk/"},
                   {lastminute, "http://www.lastminute.com/"},
                   {aws, "http://status.aws.amazon.com/"},
                   {appengine, "http://code.google.com/status/appengine"},
                   {twitter, "http://twitter.com/"},
                   {argos, "http://www.argos.co.uk/static/Home.htm"},
                   {aarouteplanner, "http://www.theaa.com/route-planner/index.jsp"},
                   {ocado, "http://www.ocado.com/webshop/startWebshop.do"},
                   {dailymail, "http://www.dailymail.co.uk/home/index.html"}]}]}.
