%% vim: ft=erlang
%% Service configuration
%%
%% Format: {node, Nodename, [ServiceDef]}
%%
%% Service formats:
%%
%% - service
%%   Run service.
%%
%% - {service, [{option, value}]}
%%   Run service with custom options.
%%
%% - {service, name}
%%   Run service with custom name.
%%
%% - {service, name, [{option, value}]}
%%   Run service with custom name and options.

{node, 'rolf@li153-242', [disk,
                          {loadtime, [{url, "http://www.bbc.co.uk/"}]},
                          {sql, mysql_users, [{type, mysql},
                                              {database, "mysql"},
                                              {user, "root"},
                                              {password, "xxxxxxxx"},
                                              {query, "select count(*) as users from user"},
                                              {metrics, [users]}]}]}.
